<div class="share-wrapper">
    <div class=""><i class="fas fa-share-alt share-button show-button" id="board-close"></i></div>
    <div class="share-form" data-visible="false">
        <a href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D={{shareTitle}}&p%5Bsummary%5D={{shareDescription}}&p%5Burl%5D={{shareLink}}&p%5Bimages%5D%5B0%5D={{shareImage}}" target="_blank" rel="nofollow"><i class="fab fa-facebook share-button"></i></a>
        <a href="https://telegram.me/share/url?url={{shareLink}}&text={{shareTitle}}" target="_blank" rel="nofollow"><i class="fab fa-telegram share-button"></i></a>
        <a href="http://vk.com/share.php?url={{shareLink}}&title={{shareTitle}}&description={{shareDescription}}&image={{shareImage}}&noparse=true" target="_blank" rel="nofollow"><i class="fab fa-vk share-button"></i></a>
        <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text={{shareTitle}}&url={{shareLink}}" target="_blank" rel="nofollow"><i class="fab fa-twitter share-button"></i></a>
        <i class="fas fa-clipboard share-button" id="copy-link"></i>
    </div>
</div>
