<div class="profile-boards">
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
    <a href="/board/{{ board.id }}" class="profile-boards__board">
        <img src="{{ board.avatarLink }}" alt="{{ board.title }}" class="profile-board__board-avatar">
        <span class="profile-board__title">{{ board.title }}</span>
    </a>
</div>
