<div class="profiles-feed">
    {{#each profiles}}
        <a href="/profile/{{this.ID}}" class="profiles-feed__profile">
            <img src="{{this.avatarLink}}" alt="avatar" class="profiles-feed__avatar">
            <div class="profiles-feed__main-info">
                <span class="profiles-feed__username">{{this.username}}</span>
                <span class="profiles-feed__fullname">{{this.name}}</span>
            </div>
            <div class="profiles-feed__followers-section">
                <span class="profiles-feed__followers-counter">{{this.followers}}</span>
                <span class="profiles-feed__followers">followers</span>
            </div>
        </a>
    {{/each}}
</div>
