<div class="profile-info">
    <img src="{{profile.avatarLink}}" alt="avatar" class="profile-info__avatar">
    <div class="profile-info__main-info">
        <div class="profile-info__username-zone">
            <span class="profile-info__username">{{profile.username}}</span>
            {{#if userIsAuthorized}}
                {{#if selfProfile}}
                    <a href="{{paths.settings}}" class="profile-info__settings">
                        <i class="fas fa-cog profile-info__settings-icon"></i>
                    </a>
                {{else}}
                    <button class="profile-info__follow-toggle">
                        <i class="fa-heart profile-info__follow-icon
                            {{#if profile.followed}}fas profile-info__follow-icon_active{{else}}far{{/if}}
                        "></i>
                    </button>
                {{/if}}
            {{/if}}
        </div>
        <div class="profile-info__additional-info">
            <span class="profile-info__user-real-name">{{profile.firstName}}</span>
        </div>
    </div>
    <div class="profile-info__stats">
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">1k</span>
            <span class="profile-info__stat-name">pins</span>
        </div>
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">50</span>
            <span class="profile-info__stat-name">boards</span>
        </div>
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">2,3k</span>
            <span class="profile-info__stat-name">month views</span>
        </div>
    </div>
</div>
<div class="profile-links">
    <a href="{{paths.profile}}{{#unless selfProfile}}/{{profile.ID}}{{/unless}}" class="profile-links__link">Overview</a>
    <a href="{{paths.profile}}/{{#unless selfProfile}}{{profile.ID}}/{{/unless}}boards" class="profile-links__link">Boards</a>
    <a href="{{paths.profile}}/{{#unless selfProfile}}{{profile.ID}}/{{/unless}}pins" class="profile-links__link">Pins</a>
    <a href="{{paths.profile}}/{{#unless selfProfile}}{{profile.ID}}/{{/unless}}followers" class="profile-links__link">Followers</a>
    <a href="{{paths.profile}}/{{#unless selfProfile}}{{profile.ID}}/{{/unless}}following" class="profile-links__link">Following</a>
</div>
