<div class="chat">
    <div class="chat__header">
        <a href="{{paths.profile}}/{{profile.ID}}" class="chat__header-avatar">
            <img src="{{profile.avatarLink}}" alt="avatar" class="chat__header-avatar-image">
        </a>
        <a href="{{paths.profile}}/{{profile.ID}}" class="chat__header-username">{{profile.username}}</a>
    </div>
    <div class="chat__messages">
        {{#each messages}}
            <div class="chat__message chat__message{{#if this.isSelf}}_secondary{{else}}_primary{{/if}}">
                <p class="chat__message-text">{{this.text}}</p>
            </div>
        {{/each}}
    </div>
    <form class="chat__message-form">
        <textarea class="chat__message-input" placeholder="Write a message..."></textarea>
        <button class="chat__button">
            <i class="fab fa-sticker-mule chat__button-icon chat__sticker-button"></i>
        </button>
        <div class="chat__sticker-picker">
        </div>
        <button class="chat__button">
            <i class="far fa-smile chat__button-icon chat__emoji-button"></i>
        </button>
        <div class="chat__emoji-picker">
        </div>
        <button class="chat__button">
            <i class="far fa-paper-plane chat__button-icon chat__send-button"></i>
        </button>
    </form>
</div>
