<div class="auth-page signup-page">
    <div class="auth-page__wrapper">
        <div class="auth-page__content">
            <div class="auth-page__content-wrapper">
                <a class="auth-page__logo" href="{{paths.home}}">
                    <i class="fab fa-pinterest auth-page__logo-image"></i>
                </a>
                <div class="auth-page__title">Register</div>
            </div>
            <div class="auth-page__content-wrapper">
                <form class="auth-form">
                    <label>
                        <input
                                class="auth-form__input"
                                type="text" name="username"
                                placeholder="Your Name"
                                value="{{payload.name}}">
                    </label>
                    <div class="errors name-errors input-error-text"></div>
                    <label>
                        <input
                                class="auth-form__input"
                                type="text" name="email"
                                placeholder="Email"
                                value="{{payload.email}}">
                    </label>
                    <div class="errors email-errors input-error-text"></div>
                    <label>
                        <input
                                class="auth-form__input"
                                type="password" name="password"
                                placeholder="Password"
                                value="{{payload.password}}">
                    </label>
                    <div class="errors password-errors input-error-text"></div>
                    <input class="auth-form__submit auth-view__button" type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
    <div class="auth-page__side">
        Have an account?  <a href="{{paths.login}}" class="auth-button auth-view__button">Login</a>
    </div>
    <div class="toasts-box"></div>
</div>
