<div class="sidebar">
    <a href="{{paths.home}}" class="sidebar__home-link">
        <i class="fab fa-pinterest sidebar__logo-image"></i>
        <img src="{{logoImage}}" alt="logo" class="sidebar__logo-image">
    </a>
    <div class="sidebar__view-selector">
        <div data-view="home" class="sidebar__view-option">
            <a class="sidebar__view-link" href="{{paths.home}}">
                <i class="fas fa-home sidebar__view-icon"></i>
            </a>
        </div>
        {{#if userIsAuthorized}}
            <div data-view="boards" class="sidebar__view-option">
                <a class="sidebar__view-link" href="{{paths.profileBoards}}">
                    <i class="fas fa-layer-group sidebar__view-icon"></i>
                </a>
            </div>
            <div data-view="settings" class="sidebar__view-option">
                <a class="sidebar__view-link" href="{{paths.settings}}">
                    <i class="fas fa-cog sidebar__view-icon"></i>
                </a>
            </div>
        {{/if}}
    </div>
    <div class="sidebar__toggles">
        {{#if userIsAuthorized}}
            <button name="messages-toggle" class="sidebar__toggle slider-toggle">
                <i class="fas fa-comment-dots sidebar__toggle-icon"></i>
                {{#if hasNewMessage}}
                    <i class="fas fa-circle sidebar__news-marker"></i>
                {{/if}}
            </button>
            <button name="notifications-toggle" class="sidebar__toggle slider-toggle">
                <i class="fas fa-bell sidebar__toggle-icon"></i>
                {{#if hasNewNotification}}
                    <i class="fas fa-circle sidebar__news-marker"></i>
                {{/if}}
            </button>
        {{/if}}
        <button class="sidebar__toggle theme-toggle">
            <i class="fas fa-moon sidebar__toggle-icon theme-toggle-icon"></i>
        </button>
    </div>
</div>
