<div class="page">
    {{{ page__sidebar }}}
    {{{ page__messagesSlider }}}
    {{{ page__notificationsSlider }}}
    <div class="page__wrap">
        {{{ page__navbar }}}
        <div class="page__content">
            {{{ page__content }}}
        </div>
    </div>
    <div class="toasts-box"></div>
</div>
