<div name="{{sliderType}}Slider" class="slider-wrapper">
    <div class="slider">
        <div class="slider__header">
            <h2 class="slider__header-text">{{sliderType}}</h2>
        </div>
        <div class="slider__items">
            {{#unless items}}
                <p class="slider__feature-description">
                    {{#if typeIsMessages}}
                        Here will be your opened chats with messages to other Pinterbest users!
                    {{else}}
                        Here you can find notifications about new followers, comments to your pins and other events!
                    {{/if}}
                </p>
            {{/unless}}
            {{#each items}}
                <div data-id="{{this.ID}}" class="slider__item">
                    <img src="{{this.imageLink}}" alt="image" class="slider__item-image">
                    <div class="slider__item-content">
                        <span class="slider__item-header">{{this.header}}</span>
                        <span class="slider__item-text">{{this.text}}</span>
                    </div>
                    <i class="fas fa-circle slider__item-indicator {{#if this.isNew}}slider__item-indicator_new{{/if}}"></i>
                </div>
            {{/each}}
        </div>
        {{#if typeIsMessages}}
            <form class="slider__message-form message-form message-form_hidden">
                <label class="message-form__label message-form__target-label">
                    To :
                    <input type="text" class="message-form__target-input message-form__input">
                </label>
                <div class="errors chat-username-errors input-error-text"></div>
                <label class="message-form__label message-form__text-label">
                    Message text :
                    <textarea class="message-form__text-input message-form__input"></textarea>
                </label>
                <button class="message-form__close-button">
                    <i class="fa-times fas message-form__close-icon"></i>
                </button>
            </form>
            <button class="slider__message-button slider__message-button_primary">New message</button>
        {{/if}}
    </div>
    {{#if typeIsMessages}}
        {{{chatBlock}}}
    {{/if}}
    <div class="page-shader"></div>
</div>
